@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  font-family: 'Lexend';
  color: snow;

  margin: 0;
  padding: 0;

  text-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}

html, body {
  background: linear-gradient(90deg, rgb(80, 31, 80) 0%, #57122f 100%);
}
